.exit-buttons-grid{
    display:grid;
    grid-template-columns: 20% 30% 30% 20%;
    margin-bottom: 3em;
    grid-column-gap:1em;
}

.left-buttons{
    grid-column-start: 2;
    grid-column-end: 3;
    margin:auto;
}

.right-buttons{
    grid-column-start: 3;
    grid-column-end: 4;
    margin:auto;
}